*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: white;
}
body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;

}

.about{
    background: url(Demo.jpg) no-repeat left;
    background-size: 55%;
    background-color: white;
    overflow: hidden;
    padding: 10px 0;
   

}

.text-center{
    min-width: 100px;
}
.inner-section{
    width: 55%;
    float: right;
    background-color: white;
    padding: 110px;
        
     /* box-shadow: 10px 10px 8px  rgba(0,0,0,0.3);  */
}

.inner-section h1{
    margin-bottom: 10px;
    font-size: 45px;
    font-weight: 900;
}

    

.text{
    font-size: 19px;
    color: hsl(216, 100%, 27%);
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
}
.skills button{
    font-size: 25px;
    text-align: center;
    letter-spacing: 2px;
    border: none;
    border-radius: 23px;
    padding: 8px;
    width: 200px;
    background-color: skyblue;
    color: white;
    cursor: pointer;
}
.skills button:hover{
    transition: 1s;
    background-color: #ecf5f5;
    color: #0c2bf1;
}
.about-item{
    margin-bottom: 20px;
    margin-top: 20px;
    background-color: white;
    padding: 80px,30px;
    box-shadow: 0 0 9px rgba(0, 0, 0, 0.6);
    min-width: 100px;
    
}
@media screen and (max-width:1200px){
    .inner-section{
        padding: 80px;
    }
}
@media screen and (max-width:1000px){
    .about{
        background-size: 100%;
        padding: 100px 40px;
    }
    .inner-section{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .about{
        padding: 0;
    }
    .inner-section{
        padding: 60px;
    }
    .skills button{
        font-size: 19px;
        padding: 5px;
        width: 160px;
    }
} 


 
